.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.info-panel {
  flex-shrink: 0;
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #000d40;
}
.btn:hover{
  border: 1px solid white;
  transform: scale(0.95);
  opacity: 0.8;
}
/* #000d40 */
/* #000826 */