.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
}
.info-panel {
  flex-shrink: 0;
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
}
.info-title {
  color: rgb(195, 195, 195);
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}
.legend-panel {
  position: absolute;
  left: 10px;
  background-color: black;
  opacity: 0.8;
  color:#eeeeee;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 20px;
  z-index: 20;
  font-size: 1.1rem;
  font-weight: 550;
}
.btn:hover{
  border: 1px solid white;
  transform: scale(0.95);
  opacity: 0.8;
}